body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    color: #333;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  label {
    font-family: Arial, sans-serif;
    display: block;
    margin-top: 15px;
  }
  
  select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1em;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #ac89ff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ac89ff;
  }
  
  #resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }